body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(rgb(91, 172, 238), rgb(0, 27, 148));
    margin-bottom: 16px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    overflow-x: hidden;
    padding-top: 20px;
}

.flexnav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 16px;
}

.sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    /* We need to find a better way to handle long names. */
    font-size: 18px;
    color: #0f1849;
}

.sidenav a:hover {
    color: #0197d3;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🦶</text></svg>") 16 0, auto;
}

.mainpage {
    margin-top: 32px;
    margin-left: 250px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    background-color: transparent;
}

.page {
    /* Flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 32px;

    /* Background */
    background-color: #FFFCFC;
    min-height: 500px;
    font-size: 24px;
    text-align: center;
    padding: 16px;
    border-radius: 40px;
    border: 15px solid;
    border-image: url("https://isneeze.github.io/conguratulations/assets/images/guraScheduleBorder.svg");
    border-image-slice: 30%;
    border-image-width: 5;
    border-image-repeat: stretch;
    border-image-outset: 0.8;
    margin-right: 16px;
    margin-bottom: 48px;
}

.mainpage .page {
    flex-direction: column;
}

#IntroText {

    background-color: #A8BDCD;
    border: dotted;
    border-width: 3px;
    border-color: #86949E;
    font-size: 24px;
    text-align: center;
    padding: 64px 32px 64px 32px;
    border-radius: 24px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@font-face {
    font-family: 'Comic Shark';
    /*a name to be used later*/
    src: url("https://isneeze.github.io/conguratulations/assets/fonts/Comic Shark.ttf");
    /*URL to font*/
}

.wacky-font {
    font-family: "Comic Shark";

}

/* Sidenav Shrimps */
img.shrimp {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: #818181;
    border-width: 4px;
    background-color: rgb(145, 199, 247);

}

.flexnav a span {
    margin-left: 8px;
}

a.shrimp {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    width: 200px;
    height: 50px;
    border: 4px solid;
    border-radius: 31px;
    border-image: url("https://isneeze.github.io/conguratulations/assets/images/guraScheduleBorder.svg");
    border-image-slice: 23;
    border-image-width: 8;
    border-image-outset: 0.5;
    border-image-repeat: stretch;
    background-color: #FFFCFC;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

a.home {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    width: 100px;
    height: 50px;
    border-radius: 31px;
    border-width: 4px;
    background-color: aliceblue;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    justify-content: center;
    justify-self: flex-start;
}

a.home:hover {
    transform: translateX(10px);
}

a.shrimp:hover {
    transform: translateX(10px);
}

.banner {
    display: flex;
    justify-content: center;
    align-self: flex-start;

    /* Border */
    border: 15px solid;
    background-color: #4B87A9;
    border-radius: 35px;
    border-image: url("https://isneeze.github.io/conguratulations/assets/images/guraScheduleBorderAccent.svg");
    border-image-slice: 30%;
    border-image-width: 5;
    border-image-repeat: stretch;
    border-image-outset: 0.8;
    width: 220px;
}

.banner .content span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #ffffffc4;
    padding: 5px 10px;
    border-radius: 5px;

}

.banner img.shrimp {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    object-fit: contain;
}

.main {
    flex-grow: 5;
}

#postcard {
    margin-top: 2px;
}

img.shrimpD {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: #818181;
    border-width: 4px;

}


img#cake {
    padding-left: 100px;
    padding-right: 100px;
}

#canvas {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    pointer-events: none;
    touch-action: none;
}

span.emoji{
    width: 32px;
    height: 32px;
    display: inline-block;

}

span.emoji.gurapat{
    background-image: url("https://yt3.ggpht.com/uKixUjXa26VwrLMqbK3UE0-oUY5RqJjrqvawfb7T_WNyGIz5LUU-qNQnhlBtk1324X1ZCBpE=h32-k-nd");

}

span.emoji.gurasalman{
    background-image: url("https://yt3.ggpht.com/4urX_2Lgswod7tqfff9eVZXxm4gbe6dV8fqqVHnHnPit0vW12Bwf-OCFH5eprrxJ-9Gvk63_bHM=h32-k-nd");

}